/* Dull * /
$black: #333322;
$brown: #887766;
$white: #ffffff;
$gray: #dddddd;
$blue: #77aadd;
*/


/* Vibrant */
$black: #333322;
$brown: #887766;
$white: #ffffff;
$gray: #dddddd;
$blue: #77aadd;
$darkgray: #999;
$offwhite: #fffffc;
$lightblue: #d5ecfa;
$borderBlue: #C5DBEC;
$errorColor: #c00;
$highlight: #F5E6D6;

@mixin titleFont {
  font-family: "UbuntuBold", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;
}

@mixin monoFont {
  font-family: "Liberation Mono", Menlo, Courier New, Courier, Mono, monospace;
}

@mixin normalFont {
  font-family: /*"Andron Freefont LAT",*/ "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;
}

h1, h2, h3, h4 {
  @include titleFont;
}

h5, h6, p, span, a, footer, header, address, cite, code, del, ins {
  @include normalFont;
  font-size: 1.167em;
}
td, tr, tbody, table {
  @include normalFont;
}

strong {
  font-weight: bold;
}

tt, pre, code {
  @include monoFont;
  font-size: 0.926em;
}

nav a {
  @include titleFont;
}

@mixin pie {
  behavior: url(/public/stylesheets/PIE.htc);
}

@mixin shadow($color, $x, $y, $blur) {
  -webkit-box-shadow: $color $x $y $blur;
  -moz-box-shadow: $color $x $y $blur;
  box-shadow: $color $x $y $blur;
}

@mixin opacity($percentage) {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$percentage)";
  filter: alpha(opacity=$percentage);
  -moz-opacity: $percentage / 100;
  -khtml-opacity: $percentage / 100;
   opacity: $percentage / 100;
}

@mixin simple-gradient($colorTop, $colorBottom) {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from($colorTop), to($colorBottom));
  background: -moz-linear-gradient($colorTop, $colorBottom);
  background: linear-gradient($colorTop, $colorBottom);
  -pie-background: linear-gradient($colorTop, $colorBottom);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

p {
  margin:  9px;
}

li {
    text-align: left;
}

* {
    color: $black;
}


html {
  background-color: $offwhite;
}

#main {
  min-height: 40em;
  height: auto;
}

.ie6 #main, .ie7 #main, .ie8 #main {
  height: 40em;
}

#doc2 {
  position: relative;
  top: -10px;
  padding-top: 20px;

  padding: 5px 0;
  border: 1px solid $gray;

  @include shadow($gray, 3px, 3px, 6px);
  @include simple-gradient(#d5ecf9, $white);
  @include rounded-corners(10px);
  @include pie;
}

input[type=submit], select, textarea, input[type=text] {
  @include rounded-corners(5px);
  @include shadow($gray, 1px, 1px, 2px);
}

input[type=text] {
  height: 19px;
}

.error {
  color: #C00;
  font-style: italic;
}

label.error {
  font-size: 0.8em;
}

p {
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}

footer {
  color: $darkgray;
  font-size: 0.7em;
  width: 100%;
  text-align: center;
}



#logo {
  display: block;
  position: absolute;
  top: 10px;
  text-indent: -1000em;
  background: url("../img/logo.gif") no-repeat;
  width: 130px;
  height: 78px;
  margin: 0 0 0 7px;
}

header {
  margin-top: 70px;
}

#right-buttons {
  width: 450px;
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 0 25px 0;
  text-align: right;
}

#right-buttons button {
  font-size: 0.8em;
}

#title {
  width: 100%;
  text-align: center;
  color: $brown;
}

nav {
  height: 40px;
  overflow: hidden;
  background: #DFEFFC url(./redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
  border-top: 1px solid #C5DBEC;
  border-bottom: 1px solid #C5DBEC;
  width: 100%;
  margin:  5px 0 0;
  padding: 0;
}

nav ul {
  position: relative;
}

nav ul {
  margin:  0;
  padding:  0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  padding:  0;
  margin:  0;
  position: relative;
  top: -1px;
}

nav ul li a {
  text-align: center;
  display: inline-block;
  height: 30px;
  margin:  0;
  padding:  10px 0 0;
  color: $black;
  font-size: 1.1em;
  text-decoration: none;
  width: 130px;
  border: 1px solid $borderBlue;
  border-collapse: collapse;
  background: #DFEFFC url(./redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
}

#crunchtime-link {
  top: -1px;
  position: absolute;
  right: 0;
  margin:  0;
}

.ie7 #crunchtime-link {
  left: 818px;
}

#crunchtime-link a {
  margin:  0;
}

nav ul li a:hover {
  background: url(./redmond/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
}

nav ul li a:active {
  background: url(./redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
}

nav a.disabled {
  color: #bbb;
}

#login-button {
  @include opacity(30);
}

@mixin placeholderStyle {
  color: #aaa;
  font-style: italic;
}

::-webkit-input-placeholder {
  @include placeholderStyle;
}
.hasPlaceholder {
  @include placeholderStyle;
}
:-moz-placeholder {
  @include placeholderStyle;
}

#business-info input, #business-info select {
  border: 1px solid #C5DBEC;
  padding: 5px;
  font-size: 16px;
  margin:  5px 0;
}

#business-info select {
  padding:  4px;
  margin:  5px 8px;
}

#business-info #demo-name, #business-info #demo-address {
  width: 600px;
}

#business-info #demo-phone {
  margin-left: 11px;
  width: 190px;
}

#business-info #demo-city {
  width: 325px;
}

#business-info #demo-zip {
  width: 90px;
}

#chain-container {
  margin-left: 10px;
  margin-top: 5px;
}

#chain-container input {
  padding: 5px;
  vertical-align: 0%;
  border:  none;
}

#chain-container label {
  padding-left: 5px;
}

.yui-g {
  padding: 20px 20px 0 20px;
}

h2.subtitle {
  margin-bottom: 15px;
}

#front-hook {
  margin-top: 50px;
}

#left-panel {
  float: left;
  width: 530px;
  border-right:  1px solid $borderBlue;
}

#slideshow-wrapper {
  width: 360px;
  float: right;
  margin-top: 30px;
  text-align: center;
}

#slideshow {
  width: 100%;
  text-align: center;
}

#get-notified {
  border: 1px solid #C5DBEC;
  padding: 5px;
  font-size: 16px;
  margin:  5px 0;
  width: 300px;
}

input:disabled {
  cursor: default;
  color: #BBB;
}

input.disabled {
  cursor: default;
  color: #BBB;
}

#notify-container {
    position: relative;
}

.notify-block {
    position: absolute;
    top: 0;
    left: 0;
}

#notify-thanks {
    top: 8px;
    left: 15px;
}

#subcontainer {
  width: 100%;
  margin:  0;
  padding:  0;
}

p.loading {
  margin:  auto;
  width: 64px;
  height: 110px;
  display: block;
  padding-top: 65px;
  font-style: italic;
  text-align: center;
  background:  url("../img/loading.gif") no-repeat center top;
  position: absolute;
  left: 445px;
  top: 270px;
}

#demo-results {
  display: none;
  position: absolute;
  top: 224px;
}

#demo-results .business {
  width: 416px;
  border: 1px solid $borderBlue;
  margin: 5px 0 0 30px;
  height: 105px;
  padding:  8px;
  @include rounded-corners(3px);
  @include shadow($borderBlue, 2px, 2px, 3px);
  background:  white;
  cursor: pointer;
}

.ie6 #demo-results .business {
  margin-left: 20px;
  padding:  0;
}

#demo-results .highlighted {
  background: $highlight;
}

#demo-results .business p {
  font-size: 1.1em;
}

#demo-results .business .left-side {
  float: left;
  width: 308px;
}

#demo-results .business img {
  float: right;
}

#disambiguate-back {
  margin:  30px;
}

.business-report .business {
  float: right;
  clear: none;
  position: relative;
  top: 60px;
  left: -25px;
}


.ie7 .business-report .business, .ie8 .business-report .business {
  left: -40px;
}

.business-report .chart-panel {
  float: left;
  width: 462px;
  clear: none;
}

.business-report .chart-tabs {
  height: 260px;
}

h2.my-restaurant {
  position: absolute;
  top: 190px;
  left: 500px;
}

.business-report table.business-reviews {
  clear: both;
  @include rounded-corners(3px);
  @include shadow($borderBlue, 2px, 2px, 3px);
  position: relative;
  top: 5px;
  margin: 0 25px 0 0;
}
.business-report th {
  font-weight: bold;
  @include titleFont;
}

.ie7 table.business-reviews, .ie8 table.business-reviews {
  margin-right: 35px;
}

.chart-panel ul {
  font-size: 0.7em;
}
.chart-panel ul li a {
  @include titleFont;
}

.business-report table, .business-report th, .business-report td {
  border:  1px solid $borderBlue;
  padding:  4px;
  border-collapse: collapse;
}

.business-report th {
  padding: 8px;
}

.business-report td {
  background: $white;
}
.business-report thead {
  background: #5C9CCC url(./redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
}

#demo-results.my-restaurant {
  top: 191px;
}

.business-report .business {
  cursor: default !important;
}

.business-report .data-disclaimer {
  position: absolute;
  top: 25px;
  left: 500px;
  font-style: italic;
  font-size: 1.1em;
}

#tab-sentiment, #tab-ratings {
  padding: 0;
}

#slideshow {
  vertical-align: middle;
}