#{extends 'main.html' /}
#{set title:'Demo' /}
#{set 'moreScripts'}
#{script 'mylibs/demo.js' /}
#{/set}


<div id="subcontainer">
<div id="demo-form-panel">
<p>
    Get real-time information about your business. Free.
</p>

<fieldset>
  <p class="error" style="display: none;" id="business-info-errors"></p>
    <form action="/demo/search/" method="" name="business-info" id="business-info">
      <span class="require-info">*</span>
      <input type="text" name="name" placeholder="Restaurant Name"
             title="Restaurant Name" class="placeholder required" value="" id="demo-name">
      <br>
      <span class="require-info">*</span>
      <input type="text" name="address" placeholder="Street Address" id="demo-address"
                                       title="Street Address" class="placeholder required" value="">
      <br>
      <span class="require-info">*</span>
      <input type="text" name="city" placeholder="City" id="demo-city"
                     title="City" class="placeholder required" value="">
      <select class="required" name="state">
            <option value="">State</option>
            <option value="">-----</option>
            #{list items:states, as:'state' }
              <option value="${state}"${currentState == state ? " selected" : ""}>${state}</option>
            #{/list}         `
      </select>
      <input type="text" size="6" maxlength="5" name="zip" id="demo-zip" placeholder="Zip"
                     title="Zip" class="placeholder required" value="">

      <br>

      <input type="text" name="phone" placeholder="Phone Number" id="demo-phone"
                                     title="Phone Number" class="placeholder" value="">
      <br>
      <p id="chain-container">
          <input type="checkbox" name="chain" id="chain"><label for="chain">This is a multi-unit restaurant chain.</label>
      </p>
      <br>
      <input type="submit" name="go" id="go" value="Go">
      <input type="hidden" name="existingChain" id="existingChain" value=""/>
    </form>
</fieldset>
</div>
</div>

<script id="disambiguate-business" type="text/x-jquery-tmpl">
  <div class="business">
    <h4>\${name}</h4>
    \${Demo.asdfasf}
  </div>
</script>
