#{extends 'main.html' /}
#{set title:'Demo' /}

#{set 'headScripts'}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
</script>
#{/set}

#{set 'moreScripts'}
#{script 'mylibs/demo.js' /}
#{/set}

<div id="subcontainer">
<div id="demo-results"></div>
<div id="demo-form-panel"#{if id} style="display: none"#{/if}>
<p>
    Get real-time information about your business. Free.
</p>

<fieldset>
  <p class="error" style="display: none;" id="business-info-errors"></p>
    <form action="/demo/search/" method="" name="business-info" id="business-info">
      <span class="require-info">*</span>
      <input type="text" name="name" placeholder="Restaurant Name"
             title="Restaurant Name" class="placeholder required" value="" id="demo-name">
      <br>
      <span class="require-info">*</span>
      <input type="text" name="address" placeholder="Street Address" id="demo-address"
                                       title="Street Address" class="placeholder required" value="">
      <br>
      <span class="require-info">*</span>
      <input type="text" name="city" placeholder="City" id="demo-city"
                     title="City" class="placeholder required" value="">
      <select class="required" name="state" id="demo-state">
            <option value="">State</option>
            <option value="">-----</option>
            #{list items:states, as:'state' }
              <option value="${state}"${currentState == state ? " selected" : ""}>${state}</option>
            #{/list}         `
      </select>
      <input type="text" size="6" maxlength="5" name="zip" id="demo-zip" placeholder="Zip"
                     title="Zip" class="placeholder required" value="">

      <br>

      <input type="text" name="phone" placeholder="Phone Number" id="demo-phone"
                                     title="Phone Number" class="placeholder" value="">
      <br>
      <p id="chain-container">
          <input type="checkbox" name="chain" id="chain"><label for="chain">This is a multi-unit restaurant chain.</label>
      </p>
      <br>
      <input type="submit" name="go" id="go" value="Go">
      <input type="hidden" name="existingChain" id="existingChain" value=""/>
    </form>
</fieldset>
</div>
</div>

<script id="disambiguate-business" type="text/x-jquery-tmpl">
  <div class="business" data-id="{{= id}}">
    <div class="left-side">
      <h4>{{= name}}</h4>
      <p>
        {{= address }} <br>
        {{= city }}, {{= state }} {{= zip }} <br>
        {{= phone }}
      </p>
    </div>
    {{tmpl "#business-map-image"}}
    <span style="clear: both"></span>
  </div>
</script>

<script id="business-map-image" type="text/x-jquery-tmpl">
  <img width="96" height=96 border=0 class='business-map' src="http://maps.google.com/maps/api/staticmap?center={{= latitude}},{{= longitude}}&zoom=13&size=96x96&maptype=roadmap&markers=color:blue%7Clabel:{{= encodeURIComponent(name) }}%7C{{= latitude}},{{= longitude}}&sensor=false">
</script>

<script id="business-report" type="text/x-jquery-tmpl">
  <div class="business-report">
    <div class="chart-panel">
      <div class="chart-tabs">
        <ul>
          <li><a href="#tab-sentiment">Sentiments</a></li>
          <li><a href="#tab-ratings">Ratings</a></li>
        </ul>
        <div id="tab-sentiment">
        </div>
        <div id="tab-ratings">
        </div>
      </div>
    </div>
    <p class="data-disclaimer">Last updated: {{= $.prettyDate() }}</p>
    {{tmpl "#disambiguate-business"}}
    <span style="clear: both"></span>
    <table class="business-reviews">
      <thead>
        <th>Date</th>
        <th>Rating</th>
        <th>Review Excerpt</th>
        <th>Source</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</script>


<script id="review-tmpl" type="text/x-jquery-tmpl">
  <tr>
    <td>{{= date}}</td>
    <td>{{if rating }}<img src="/public/img/ratings/stars_mobile_{{= rating}}.gif"
        alt="{{= rating}} stars (Sentiment: {{= Demo.formatSentiment(sentiment) }})"
        title="{{= rating}} stars (Sentiment: {{= Demo.formatSentiment(sentiment) }})">
        {{else}}{{= Demo.formatSentiment(sentiment)}}{{/if}}
    </td>
    <td>{{= text}}</td>
    <td><a href="{{= sourceUrl}}" target="_blank" title="Source URL"><img src="/public/img/logos/{{= source.toLowerCase()}}.gif"></a></td>
  </tr>
</script>

#{if id }
<script type='text/javascript'>
  window.Demo = window.Demo || {};
  Demo.showBusinessId = '${id}';
</script>
#{/if}