#{extends 'main.html' /}
#{set title:'Do you know what your customers really think?' /}

<div id="left-panel">
  <p>
    CrunchTime! Reputation Analysis shows you their online reviews, posts, and tweets about your company all in one place, for instant feedback you can use to <strong>grow your business</strong>.
  </p>

  <img class="img_pg" id="front-hook" width="520" src="@{'public/img/front_hook.png'}" alt="Grow your business with ...">
</div>
<div id="slideshow-wrapper">
  <div id="slideshow">
    <img src="@{'public/img/preview01.png'}" border="1">
    <img src="@{'public/img/preview02.png'}" border="1" style="display: none">
  </div>
</div>