<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>#{get 'title' /} - ${play.Play.configuration.getProperty("application.name", "Reputation Manager")}</title>
  <meta name="description" content="">
  <meta name="author" content="CrunchTime! Information Systems">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  *{ TODO - Set a favicon and apple touch icon. }*
  *{<link rel="shortcut icon" href="@{'/public/favicon.ico'}">}*
  *{<link rel="apple-touch-icon" href="@{'public/apple-touch-icon.png'}">}*

  <link rel="stylesheet" href="@{'public/stylesheets/fonts.css'}">
  <link rel="stylesheet" href="@{'public/stylesheets/reset.css'}">
  <link rel="stylesheet" href="@{'public/stylesheets/yui-reset-fonts-grids.css'}">
  <link rel="stylesheet" href="@{'public/stylesheets/redmond/jquery-ui-1.8.12.custom.css'}">
  <link rel="stylesheet" href="@{'public/stylesheets/style.scss'}">
  #{get 'moreStyles' /}

  #{script 'libs/modernizr-1.7.min.js' /}
</head>

<body class="yui-skin-sam">
  <div id="main_container">
    <div id="doc2" class="yui-t7">
      <header id="hd" role="banner">
        <a id="logo" border="0" href="http://www.crunchtime.com/" title="CrunchTime! Information Systems">
        CrunchTime! Information Systems
        </a>
        <div id="right-buttons">
          <button id="login-button" class="ui-button-text ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Login</button>
        </div>
        <h1 id="title">${play.Play.configuration.getProperty("application.name", "Reputation Manager")}</h1>
        <nav>
          <ul><li><a href="/">Home</a></li><li><a href="/get-notified/">Products</a></li><li><a href="/get-notified/">My Restaurant</a></li><li><a href="/get-notified/">Alerts</a></li><li id="crunchtime-link"><a href="/demo/">Demo</a></li></ul></nav></header>

      <div id="main" role="main">
        <div class="yui-g">
            <h2 class="subtitle">#{get 'title' /}</h2>
           #{doLayout /}
        </div>
      </div>

      <footer id="ft" role="contentinfo">
        &copy;2011${(new java.util.Date().year == 111) ? "" : ("&ndash;" + (new java.util.Date().year + 1900)).raw()}
        CrunchTime! Inc. All rights reserved. <a href="http://www.crunchtime.com" title="CrunchTime! Home Page">CrunchTime.com</a>
      </footer>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='@{'/public/javascripts/libs/jquery-1.5.2.min.js'}'>\x3C/script>")</script>
  #{script 'libs/jquery-ui-1.8.12.custom.min.js' /}
  #{script 'libs/jquery.validate.min.js' /}
  #{script 'libs/jquery.livequery.js' /}
  #{script 'libs/jquery.cycle.all.min.js' /}
  #{script 'libs/jquery.placeholder.js' /}
  #{script 'libs/jquery.tmpl.min.js' /}

  #{script 'plugins.js' /}
  #{script 'script.js' /}

  #{get 'moreScripts' /}

  <!--[if lt IE 7 ]>
    <script type="text/javascript" src="@{'public/javascripts/libs/dd_belatedpng.js'}"></script>
    <script type="text/javascript">DD_belatedPNG.fix(".png_bg");</script>
  <![endif]-->

  <script type="text/javascript">
      /* TODO - Set google analytics code.
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
    */
  </script>

</body>
</html>
